
*.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
Curanube/root/__pycache__/__init__.cpython-310.pyc
Curanube/root/__pycache__/__init__.cpython-310.pyc
