{% extends "template.html" %}
{% block headercontent %}

<div>
    <div><h1>Goodbye, {{ current_user.username }}</h1></div>
</div>

<div class="topnav">
    <a href="{{ url_for('root.index') }}" class="active">CuraNube</a>
    <div id="meineBar">
      <a href="{{ url_for('auth.login') }}" class="active">Login</a>
      <a href="{{ url_for('auth.createaccount')}}" class="active">Create Account</a>
      <a href="{{ url_for('root.about') }}" class="active">About</a>
    </div>   
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

{% endblock %}

{% block maincontent %}

<div class="ccontainer">

    <p>We are sorry to hear that you
        want to delete your Account!
        If you really don’t want to
        change your mind hit the 
        Delete Button underneath.
        After Deleting your Account
        all your files will be deleted
        and it won’t be possible to
        restore your Account!
    </p> <br>

    <form action="{{ url_for('auth.deleteuser') }}", method="delete">               <!--Insert rigth link-->
        <button id="submit" type="submit">Delete!</button>
    </form>

    <form action="{{ url_for('profile.home', username = current_user.username) }}">                          
        <button id="submit" type="submit">Home</button>
    </form>
</div>

{% endblock %}