{% extends "template.html" %}
{% block headercontent %}

<div>
    <div><h1>Welcome, {{ username }}</h1></div>
</div>

{% endblock %}

{% block maincontent %}

<div class="mcontainer">
    <form action="{{ url_for('root.index') }}">              
        <button type="submit">My Library</button>
    </form>

    <form action="{{ url_for('root.index') }}">               
        <button type="submit">My Account</button>
    </form>

    <form action="{{ url_for('root.index') }}">               
        <button type="submit">Logout</button>
        </form>
</div>
    

{% endblock %}