{% extends "template.html" %}
{% block headercontent %}

<div>
    <div><h1>Welcome, {{ current_user.username }}</h1></div>
</div>

<div class="topnav">
    <a href="{{ url_for('profile.home', username = current_user.username) }}" class="active">User Home</a>
    <div id="meineBar">
      <a href="{{ url_for('profile.library', username = current_user.username) }}" class="active">My Library</a>
      <a href="{{ url_for('profile.myaccount', username = current_user.username) }}" class="active">My Account</a>
      <a href="{{ url_for('auth.logout') }}" class="active">Logout</a>
    </div>   
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

{% endblock %}

{% block maincontent %}

<div class="mcontainer">
    <form action="{{ url_for('profile.library', username = current_user.username) }}">              
        <button class="mobile" type="submit">My Library</button>
        <p></p>
    </form>

    <form action="{{ url_for('profile.myaccount', username = current_user.username) }}">               
        <button type="submit">My Account</button>
        <p></p>
    </form>

    <form action="{{ url_for('auth.logout') }}">               
        <button type="submit">Logout</button>
        <p></p>
        </form>
</div>

<button id="catFact" onClick="getFact()">Cat Fact</button><br>
      <span id="result">
    

{% endblock %}