{% extends "template.html" %}
{% block headercontent %}

<div>
    <div><h1>Welcome, {{ current_user.username }}</h1></div>
</div>

{% endblock %}

{% block maincontent %}
<script src="..\..\static\js\code.js"></script>

<div class="mcontainer">
    <form action="{{ url_for('profile.library', username = current_user.username) }}">              
        <button id="but" type="submit">My Library</button>
        <p></p>
    </form>

    <form action="{{ url_for('profile.myaccount', username = current_user.username) }}">               
        <button id="submit" type="submit">My Account</button>
        <p></p>
    </form>

    <form action="{{ url_for('auth.logout') }}">               
        <button id="submit" type="submit">Logout</button>
        <p></p>
        </form>
</div>

<button id="catFact" onClick="getFact()">Cat Fact</button><br>
      <span id="result">
    

{% endblock %}