{% extends "template.html" %}
{% block headercontent %}

<div>
    <div><h1>Welcome, {{ current_user.username }}</h1></div>
</div>

{% endblock %}

{% block maincontent %}

<div class="mcontainer">
    <form action="{{ url_for('profile.settings', username = current_user.username) }}">               <!--Insert rigth link-->
        <button id="but" type="submit">Settings</button>
    </form>

    <form action="{{ url_for('auth.logout') }}">               
        <button id="but" type="submit">Logout</button>
    </form>

    <form action="{{ url_for('profile.delete_account', username = current_user.username) }}">               <!--Insert rigth link-->           
        <button id="but" type="submit">Delete Account</button>
    </form>

    <form action="{{ url_for('profile.home', username = current_user.username) }}">                         
        <button id="but" type="submit">Home</button>
    </form>
</div>

{% endblock %}