{% extends "template.html" %}

{% block headercontent %}


<div>
  <h1>About</h1>
  <p>The students choice of file sharing</p>
</div>

<div class="topnav">
  <a href="{{ url_for('root.index') }}" class="active">CuraNube</a>
  <div id="meineBar">
    <a href="{{ url_for('auth.login') }}" class="active">Login</a>
    <a href="{{ url_for('auth.createaccount')}}" class="active">Create Account</a>
    <a href="{{ url_for('root.about') }}" class="active">About</a>
  </div>   
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

{% endblock %}



{% block maincontent %}


<div>
   <p>CuraNube is a file sharing Service
    build for the needs of students. We
    provide you the best file sharing
    experience with servers located in
    your country and the best safety
    solutions available to keep your
    files safe!</p>
</div>

<div class="mcontainer">
  
  <form action="{{ url_for('root.index') }}">
    <button id="submit" type="submit">Nice!</button><br><br>
  </form>

  <form action="{{ url_for('auth.createaccount') }}">
    <button id="submit" type="submit">Create Account</button>
  </form>

  
  
</div>


{% endblock %}