
{% extends "template.html" %}
{% block headercontent %}

<div>
  <h1>Welcome to CuraNube</h1>
  <p>Because sharing is caring</p>
</div>

{% endblock %}

{% block maincontent %}

<div>
  <div class="mcontainer">
     
    <form action="{{ url_for('auth.login') }}">
      <p></p>
        <button type="submit">Login</button>
        <p></p>
      </form>
  
      <form action="{{ url_for('auth.createaccount') }}">
        <button type="submit">Create Account</button>
        <p></p>
      </form>

      <form action="{{ url_for('root.about') }}">
        <button type="submit">About</button>
        <p></p>
      </form>

      <form action="{{ url_for('root.show_users') }}">
        <button type="submit">DEV: SHOW USERS</button>
        <p></p>
      </form>

  <!--
            <a href="{{ url_for('auth.login') }}"><input type="button" value="Login" id="loginbutton"></a> <br>
            <a href="{{ url_for('auth.login') }}"><input type="button" value="Create Account" id="createaccountbutton"></a> <br> 
            <a href="{{ url_for('root.about') }}"><input type="button" value="About" id="aboutbutton"></a>
  -->   
 
  </div>
</div>

<div id="impressum">
  <h2>Impressum</h2>
  <button type="button" onclick="loadImpressum()">Show impressum</button>
</div>
{% endblock %}

