
{% extends "template.html" %}
{% block headercontent %}

<div>
  <h1>Welcome to CuraNube</h1>
  <p>Because sharing is caring</p>
</div>
<div class="topnav">
  <a href="{{ url_for('root.index') }}" class="active">CuraNube</a>
  <div id="meineBar">
    <a href="{{ url_for('auth.login') }}" class="active">Login</a>
    <a href="{{ url_for('auth.createaccount')}}" class="active">Create Account</a>
    <a href="{{ url_for('root.about') }}" class="active">About</a>
  </div>   
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

{% endblock %}

{% block maincontent %}

<!-- -->

<div>
  <div class="mcontainer">
     
    <form action="{{ url_for('auth.login') }}">
      <p></p>
        <button class="mobile" type="submit">Login</button>
        <p></p>
      </form>
  
      <form action="{{ url_for('auth.createaccount') }}">
        <button class="mobile" type="submit">Create Account</button>
        <p></p>
      </form>

      <form action="{{ url_for('root.about') }}">
        <button class="mobile" type="submit">About</button>
        <p></p>
      </form>

      <form action="{{ url_for('root.show_users') }}">
        <button id="show_users" type="submit">DEV: SHOW USERS</button>
        <p></p>
      </form>

      

  <!--

  -->
  
      
     
 
  </div>
</div>

<div id="impressum">
  <h2>Impressum</h2>
  <button id="loadImpressum" type="button" onclick="loadImpressum()">Show impressum</button>
</div>
{% endblock %}

