{% extends "template.html" %}

{% block headercontent %}


<div>
  <h1>Account Creation</h1>
</div>

<div class="topnav">
  <a href="{{ url_for('root.index') }}" class="active">CuraNube</a>
  <div id="meineBar">
    <a href="{{ url_for('auth.login') }}" class="active">Login</a>
    <a href="{{ url_for('auth.createaccount')}}" class="active">Create Account</a>
    <a href="{{ url_for('root.about') }}" class="active">About</a>
  </div>   
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


{% endblock %}

{% block maincontent %}

<div class="ccontainer">
  
    <div>
        <p>Thank you for your registration!
            We’ve sent you an Email for
            verification! Please follow the link.
            If you got no Email please check
            your spam directory. </p>
    </div>
   

  <form action="{{ url_for('root.index') }}">
    <button type="submit">Alright</button>
  </form>
  
</div>


{% endblock %}