{% extends "template.html" %}

{% block headercontent %}

<div>
  <h1>Please Login</h1>
  <p>Use your Login Data to login.</p>
</div>
<div class="topnav">
    <a href="{{ url_for('root.index') }}" class="active">CuraNube</a>
    <div id="meineBar">
      <a href="{{ url_for('auth.login') }}" class="active">Login</a>
      <a href="{{ url_for('auth.createaccount')}}" class="active">Create Account</a>
      <a href="{{ url_for('root.about') }}" class="active">About</a>
    </div>   
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

{% endblock %}
{% block maincontent %}

<div>
    <form action="http://127.0.0.1:5000/auth/login" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="form-field">
            <label for="username">Username</label>
            <input id="login-username" name="username" type="text" required>
        </div>
            <div class="form-field">
            <label for="password">Password</label>
            <input id="login-pw" name="password" type="password" required >
        </div>
        <div class="form-field">
            <input id="login-checkbox" type="checkbox" name="remember_me">Remember me
        </div>
        <div class="form-field">
            <input id="login-submit" type="submit" value="login">
        </div>
        <div>
            <a href="{{ url_for('auth.createaccount') }}">Create an Account</a>
        </div>
    </form>
</div>

<div class="mcontainer">
     
    <form action="{{ url_for('root.index') }}">
        <p></p>
        <button id="login-home" type="submit">Home</button>
    </form>
    
</div>

{% endblock %}