{% extends "template.html" %}

{% block headercontent %}

<div>
  <h1>Please Login</h1>
  <p>Use your Login Data to login.</p>
</div>

{% endblock %}
{% block maincontent %}

<div>
    <form action="http://127.0.0.1:5000/auth/login" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="form-field">
            <label for="username">Username</label>
            <input id="form-field" name="username" type="text" required>
        </div>
            <div class="form-field">
            <label for="password">Password</label>
            <input id="form-field" name="password" type="password" required >
        </div>
        <div class="form-field">
            <input id="form-field" type="checkbox" name="remember_me">Remember me
        </div>
        <div class="form-field">
            <input id="form-field" type="submit" value="submit">
        </div>
        <div>
            <a href="{{ url_for('auth.createaccount') }}">Create an Account</a>
        </div>
    </form>
</div>

<div class="mcontainer">
     
    <form action="{{ url_for('root.index') }}">
        <p></p>
        <button type="submit">Home</button>
    </form>
    
</div>

{% endblock %}