{% extends "template.html" %}

{% block headercontent %}


<div>
  <h1>Account Creation</h1>
  <p>Please enter a valid E-Mail
    address and a password for
    the creation of your account.</p>
</div>


{% endblock %}

{% block maincontent %}

<div class="mcontainer">
  
  <form action="{{ url_for('createaccount') }}" method="post">
    {{error}}
    <div class="form-field">
      <label for="email">E-Mail</label>
      <input id="form-field" name="email" type="email" required>
    </div>  
    <div class="form-field">
      <label for="username">Username</label>
      <input id="form-field" name="username" type="text" required>
    </div>
      <div class="form-field">
      <label for="password">Password</label>
      <input id="form-field" name="password" type="password" required>
    </div>
    <div class="form-field">
      <button type="submit">Submit</button>
    </div>
  </form>
  

  <form action="{{ url_for('index') }}">
    <button type="submit">Home</button>
  </form>
  
</div>


{% endblock %}