<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CuraNube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  </head>
  <body>
      <header>
                 
          <div class="hcontainer">
            <img id="logoimage" src="https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Cloud Logo">
          </div>

        {% block headercontent %}
        {% endblock %}  

      </header>

      <main>
        
        {% block maincontent %}
        {% endblock %}
  
      </main>

     
  </body>
</html>