{% extends "userspace_template.html" %}
{% block headercontent %}

<div>
    <div><h1>Welcome, {{ username }}</h1></div>
</div>

{% endblock %}

{% block maincontent %}

<div>
    <div class="mcontainer">
        <strong><nav>
            <ul class="menu">
                <li><a href="{{ url_for('index') }}">My Library</a></li>
                <li><a href="{{ url_for('about') }}">My Account</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>
            </ul>
        </nav>
        </strong>
      </div>
    <div><h1>Just buttons</h1></div>
</div>

{% endblock %}