{% extends "template.html" %}

{% block headercontent %}


<div>
  <h1>Account Creation</h1>
</div>


{% endblock %}

{% block maincontent %}

<div class="mcontainer">
  
    <div>
        <p>Thank you for your registration!
            We’ve sent you an Email for
            verification! Please follow the link.
            If you got no Email please check
            your spam directory. </p>
    </div>
   

  <form action="{{ url_for('root.index') }}">
    <button type="submit">Alright</button>
  </form>
  
</div>


{% endblock %}