<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CuraNube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  </head>
  <body>
      <header>
                 
          <div class="hcontainer">
            <img id="logoimage" src="../static/img/cloud.jpg" alt="Cloud Logo">
          </div>

        {% block headercontent %}
        {% endblock %}  

      </header>

      <main>
        
        {% block maincontent %}
        {% endblock %}
  
      </main>

     
  </body>
</html>