header {
    text-align: center;
    background-color: white;
}

main {
    text-align: center;
}

#but{
    text-align: center;
    background-color: white;
    font-size: 16px;
    color: rgb(126, 164, 245);
    min-width: 180px;
    padding: 10px 10px;
    border-radius: 12px;
    transition-duration: 0.5s;
}
#but:hover { 
    background-color: rgb(5, 203, 238);
    color: white;
}

#but:active {
    background-color: aqua;
    box-shadow: 10% rgb(62, 62, 206);
    transform: translate(1%);
}


#logoimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-radius: 50%;
    height: 10%;
    width: 10%;
}

.logo {
    text-align: center;
}


body {
    margin: auto;
    background-color: skyblue;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.5fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "c1"
    "c2";    
    height: 100%;
    
    }

@media screen and (min-width:700px) {
   
    body {
        font-size: 30px;
        background-color: rgb(51, 48, 228);
    }
   
}