header {
    text-align: center;
    background-color: white;
}

main {
    text-align: center;
}

button{
    text-align: center;
    background-color: white;
    font-size: 16px;
    color: rgb(126, 164, 245);
    min-width: 180px;
    padding: 10px 10px;
    border-radius: 12px;
    transition-duration: 0.5s;
}
button:hover { 
    background-color: rgb(5, 203, 238);
    color: white;
}

button:active {
    background-color: aqua;
    box-shadow: 10% rgb(62, 62, 206);
    transform: translate(1%);
}


#logoimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-radius: 50%;
    height: 10%;
    width: 10%;
}

.logo {
    text-align: center;
}


body {
    margin: auto;
    background-color: skyblue;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.5fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "c1"
    "c2";    
    height: 100%;

    }

    ul {
      border: 1px solid #e7e7e7;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    li {
      float: left;
      color: #04AA6D;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    ul a:hover {
      background-color: #04AA6Ddd;
      color: black;
    }
    a.active {
      color: white;

    }
    li:last-child {
      border-bottom: none;
    }

@media screen and (max-width: 699px) {
        #meineBar {
          display: none;
        }
}

      
@media screen and (min-width:700px) {
   
    body {
        font-size: 30px;
        background-color: rgb(51, 48, 228);
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    #but {
      display: none;
    }


    
}