header {
    text-align: center;
    background-color: white;
}

main {
    text-align: center;
}

button{
    text-align: center;
    background-color: white;
    font-size: 16px;
    color: rgb(126, 164, 245);
    min-width: 180px;
    padding: 10px 10px;
    border-radius: 12px;
    transition-duration: 0.5s;
}
button:hover { 
    background-color: rgb(5, 203, 238);
    color: white;
}

button:active {
    background-color: aqua;
    box-shadow: 10% rgb(62, 62, 206);
    transform: translate(1%);
}


#logoimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-radius: 50%;
    height: 10%;
    width: 10%;
}

.logo {
    text-align: center;
}


body {
    margin: auto;
    background-color: skyblue;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.5fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "c1"
    "c2";    
    height: 100%;

    }
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #meineBar {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(4, 83, 156);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(4, 83, 156);
  color: white;

}

@media screen and (max-width: 699px) {
        .topnav {
          display: none;
        }
        .icon {
          display: none;
        }
}

      
@media screen and (min-width:700px) {
   
    body {
        font-size: 30px;
        background-color: rgb(5, 128, 244);
    }

    .mobile {
      display: none;
    }
    .mcontainer {
      display: none;
    }
    
}